.typefdmt_column_width [data-id="typefondement"]{width: 2000px;}
.typemesuresec_column_width [data-id="type_mesure_sec"]{width: 200px;}
.conservation_column_width [data-id="conservation"]{width: 250px;}
